<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gramgram</title>
    <link href="../static/feed_style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            get_post()
            show_comment()
            have_token()
        })

        function posting() {
            window.location.href = '/posting'
        }

        function home() {
            window.location.href = '/'
        }

        function have_token() {
            $.ajax({
                type: "GET",
                url: "/api/user",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        writer_id = response['id']
                        $.cookie('mytoken', response['token']);

                        return
                    } else {
                        alert('로그인 창으로 가서 토큰 받아오세요')
                        window.location.href = '/login'
                    }
                }
            })
        }

        function users_id() {
            let user_id = writer_id
            let temp_html = `<p>${user_id}}</p>`
            $('#log_id').append(temp_html)
        }

        function save_comment() {
            let comment = $('#comment-box').val()
            $.ajax({
                type: 'POST',
                url: '/home',
                data: {comment_give: comment, writerid_give: writer_id},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            })
        }

        function get_post() {
            $.ajax({
                        type: "GET",
                        url: "/home",
                        data: {},
                        success: function (response) {
                            let rows = response['post']
                            for (let i = 0; i < rows.length; i++) {
                                let writerid = rows[i]['writerid']
                                let url = rows[i]['url']
                                let text = rows[i]['mytext']
                                let location = rows[i]['mylocation']
                                let mytime = rows[i]['mytime']

                                let temp_html = `<div class="feed-info">
                                            <div class="info-left">
                                                <img src="${url}">
                                                <div class="info-left-txt">
                                                    <h1 class="info-name"><p>${writerid}</p></h1>
                                                    <h1 id="user-loca" class="info-location">${location}</h1>
                                                </div>
                                            </div>
                                            <div class="info-right">
                                                <div></div>
                                                <h1 class="info-time">${mytime}</h1>
                                            </div>
                                        </div>
                                        <div class="feed-container">
                                            <div class="feed-post">
                                                <img src="${url}">
                                            </div>
                                            <div class="feed-txt">
                                                <h3>${text}</h3>
                                            </div>
                                        </div>
                                        <div class="feed-footer">
                                            <div class="feed-comments">
                                                <h3>로그인 아이디</h3>
                                                <input id="comment-box" type="text" placeholder="댓글입력창"/>
                                            </div>
                                            <div></div>
                                            <div class="feed-buttons">
                                                <button onclick="save_comment(${writerid})">등록</button>
                                                <button onclick="#">삭제</button>
                                            </div>
                                            <div id="comment-list">

                                            </div>
                                        </div>
`
                                $(`#user-info-feed`).append(temp_html)

                            }

                        }

                    }
            )
        }


        function show_comment() {
            $.ajax({
                type: "GET",
                url: "/homecom",
                data: {},
                success: function (response) {
                    let rows = response['com']
                    for (let i = 0; i < rows.length; i++) {
                        let comment = rows[i]['comments']

                        let temp_html = `<div class="card">
                                                    <p>${comment}</p>
                                        </div>`
                        $(`#comment-list`).append(temp_html)
                    }
                }
            });
        }


    </script>
</head>
<body>
<div id="main">
    <div id="header">
        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160928_67%2F8825sun_1475034432749qTixK_JPEG%2F%25BB%25E7%25BA%25BB_-page-000101.jpg&type=sc960_832">
        <ul id="header-users">
            <li><a href="index.html"><img
                    src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160928_67%2F8825sun_1475034432749qTixK_JPEG%2F%25BB%25E7%25BA%25BB_-page-000101.jpg&type=sc960_832"></a>
            </li>

            <li class="li-box" id="log_id"></li>
        </ul>
    </div>
    <div id="container">
        <div id="user-info-feed">
            <div class="feed-info">
                <div class="info-left">
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA1MThfMTc3%2FMDAxNjIxMjY3MDg2NTQ2.ZhnLcAqf-EnZvjV5LJtmdbjNZ2y22EIgR_kAMGxncpYg.zIqc9WTNSxQ2enVTLlADSYYk5ki6pkrmnKHTJjoPKacg.JPEG.kthheart%2FIMG_0297.JPG&amp;type=sc960_832">
                    <div class="info-left-txt">
                        <h1 class="info-name">마이네임</h1>
                        <h1 id="user-loca" class="info-location">부평 구청역</h1>
                    </div>
                </div>
                <div class="info-right">
                    <div></div>
                    <h1 class="info-time">크리스마스 언저리</h1>
                </div>
            </div>
            <div class="feed-container">
                <div class="feed-post">
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA1MThfMTc3%2FMDAxNjIxMjY3MDg2NTQ2.ZhnLcAqf-EnZvjV5LJtmdbjNZ2y22EIgR_kAMGxncpYg.zIqc9WTNSxQ2enVTLlADSYYk5ki6pkrmnKHTJjoPKacg.JPEG.kthheart%2FIMG_0297.JPG&amp;type=sc960_832">
                </div>
                <div class="feed-txt">
                    <h3>오호라</h3>
                </div>
            </div>
            <div class="feed-footer">
                <div class="feed-comments">
                    <h3>로그인 아이디</h3>
                    <!--                <input  value="댓글입력창">-->
                    <input id="comment-box" type="text" placeholder="댓글입력창"/>
                </div>
                <div></div>
                <div class="feed-buttons">
                    <button onclick="save_comment()">등록</button>
                    <button onclick="#">삭제</button>
                </div>
                <div id="comment-list">
                    <div class="card">
                        <p>도레미파솔라시도</p>
                        <p>귀여니</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <button class="upbt"><a href="#user-info-feed"><img
                src="https://kr.seaicons.com/wp-content/uploads/2015/11/up-icon1.png"></a></button>
        <div class="navbar">
            <button onclick="home()">홈</button>
            <button onclick="posting()">글쓰기</button>
            <button onclick="home()">마이페이지</button>
        </div>
    </div>
</div>
</body>
</html>